/* CSS */
body{
    background-color: rgba(100, 100, 100, 0.779);
}

.container{
    position: absolute;
    cursor: move;
    display: block;
    background: linear-gradient(#e7e7e7, #e7e7e7,#9093aec9);
    border-radius: 8px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.77);
    width: 350px;
    padding: 0 10px 0 20px;
    margin-left: 5%;
    margin-top: 8%;
    padding: 0px 0px 4px 0px;
}

.center{
    display: block;
    margin: auto;
    width: 60%;
}

/* set <h1>, <p> text */
h1{
    color: rgb(70, 109, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-top: 3%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.275);
    
}

h1:hover{
    cursor: pointer;
    color: brown;
}
p{
    text-align: center;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* reset all buttons */
button{
    width: 30px;
    height: 30px;
    margin: 5px;
    color: white;
    font-size: larger;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.749);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.279);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.275);
    cursor: pointer;    
}

button.positive{
    color: rgba(0, 0, 0, 0.647);
    background-color: rgba(140, 218, 144, 0.749);
    border: solid 1px;
    border-color: rgb(43, 226, 55);
}
button.positive:hover{
    color: rgba(0, 0, 0, 0.647);
    background-color: rgb(8, 103, 13);
    border: solid 1px;
    border-radius: 50%;
    border-color: rgba(43, 226, 55, 0.644);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.694);
    color: white;
}

button.negative{
    padding: 0px 0px 4px 0px;
    background-color: rgba(220, 17, 17, 0.58);
    border-color: rgba(220, 17, 17, 0.687);
}
button.negative:hover{
    padding: 0px 0px 4px 0px;
    border-radius: 50%;
    background-color: rgba(158, 10, 10, 0.938);
    border-color: rgba(242, 200, 200, 0.826);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.694);
}

button.clear{
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    background-color: rgba(0, 128, 255, 0.685);
    border-color: rgb(0, 128, 255);
    cursor: grab; 
}
button.clear:hover{
    width: 98px;
    background-color: rgba(0, 128, 255, 0.685);
    border-color: rgb(0, 128, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.694);
    cursor: grab; 
}
